// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Color palette
$--background-color: #1D1B20;
$--navbar-background-color: #292929;
$--primary-color: #F48946;
$--primary-color-shade: #C9713A;
$--primary-color-shade2: #D9783B;
$--secondary-color: #FFD0B3;
$--secondary-color-shade: #E6BBA1;
$--primary-text-color: #FFFFFF;
$--secondary-text-color: #000000;
$--webicon-color: #000000;
$--input-placeholder-color: #49454F;

// Border configuration
$--container-border-radius: 10px;
$--img-border-radius: 20px;