
:root {
  --ion-color-primary: #F48946;
  --ion-color-primary-rgb: 244, 137, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d7773c;
  --ion-color-primary-tint: #f59357;

  --ion-color-secondary: #FFD0B3;
  --ion-color-secondary-rgb: 255, 208, 179;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0b79e;
  --ion-color-secondary-tint: #ffd5ba;

  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-background-color: #1D1B20;
  
  --ion-text-color: #FFFFFF;

  --container-border-radius: 12px;
  --img-border-radius: 12px;
  
  --custom-page-background: #1D1B20; 
  --ion-navbar-background-color: #2A2730;
}

@media (prefers-color-scheme: dark) {
  body {
      --ion-color-primary: #F48946;
  --ion-color-primary-rgb: 244, 137, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d7773c;
  --ion-color-primary-tint: #f59357;

  --ion-color-secondary: #FFD0B3;
  --ion-color-secondary-rgb: 255, 208, 179;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e0b79e;
  --ion-color-secondary-tint: #ffd5ba;

  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-background-color: #1D1B20;
  
  --ion-text-color: #FFFFFF;

  --container-border-radius: 12px;
  --img-border-radius: 12px;
  
  --custom-page-background: #1D1B20; 
  --ion-navbar-background-color: #2A2730;
  }
}