h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-primary); 
}


.create-recipe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}