.my-recipes-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-secondary); 
}

.recipes-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.recipe-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.create-recipe {
    padding: 20px;
}

.add-icon {
    font-size: 35px;
}

ion-fab-button {
    height: 70px;
    width: 70px;
}
