.favorites-list-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
    color: var(--ion-color-primary);
}