<ion-content class="ion-padding">
    <ion-grid class="login-grid">
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="12" size-lg="6" size-xl="3">
                <div class="login-card">
                    <div class="logo-container">
                        <ion-img src="../../../assets/icon/logo.png" alt="Logo de z-Recipes"></ion-img>
                    </div>
                    <form (ngSubmit)="onSubmit()" class="form-container">
                        <ion-item lines="none" class="ion-margin-top">
                            <ion-input 
                                type="email" 
                                autocomplete="email" 
                                fill="outline" 
                                label="Correo Electrónico"
                                label-placement="stacked" 
                                class="ion-margin-top"
                                placeholder="usuario@ejemplo.com"
                                [(ngModel)]="email"
                                name="email"
                                required>
                            </ion-input>
                        </ion-item>
                        <ion-item lines="none" class="ion-margin-top">
                            <ion-input 
                                type="password" 
                                autocomplete="current-password" 
                                fill="outline" 
                                label="Contraseña"
                                label-placement="stacked" 
                                class="ion-margin-top"
                                placeholder="********"
                                [(ngModel)]="password"
                                name="password"
                                required>
                                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
                            </ion-input>
                        </ion-item>
                        <div class="btn-submit-container" lines="none">
                            <ion-button class="btn-submit" type="submit" expand="block">
                                Entrar
                            </ion-button>
                        </div>
                        <div class="not-account">
                            <p>¿No tienes cuenta? <a routerLink="/register">Regístrate</a></p>
                        </div>
                    </form>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>