

.navbar-pane{
    --background: var(--ion-color-light);
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.logo-toolbar {
    text-align: center;
}

.logo-title {
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.side-menu-logo {
    width: 80px;
    height: 80px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    background: transparent;
    gap: 12px;
}

.elem-list {
    --background: var(--ion-color-secondary); 
    --color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s; 

}
.elem-list.router-link-active {
    --background: var(--ion-color-primary); 
}
.icon-nav {
    font-size: 25px;
    color: black;
}

ion-tab-button {
    --background: transparent;
    --color: var(--ion-color-primary);
    font-size: 13px;
}

ion-tab-button.tab-selected {
    --background: var(--ion-color-secondary);
    font-weight: 1000 !important; 
    border-radius: 12px;
}

.button-inner {
    width: 100%;
}