<ion-content [fullscreen]="true">
  <div class="favorites-container">
    <h1>Favoritos</h1>
    <div class="recipes-list">
      <ion-card *ngFor="let category of favoriteCategories; trackBy: trackByCategoryId" class="recipe-card" routerLink="/recipe/{{category.id}}">
        <div class="image-container">
          <img [src]="category.image" alt="{{ category.title }}" class="recipe-image"/>
        </div>
        <ion-card-header>
          <ion-card-title>{{ category.title }}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>  
  </div>
  <ion-fab horizontal="end" vertical="bottom " slot="fixed" class="add-fab">
    <ion-fab-button>
      <ion-icon class="add-icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
