
h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-secondary); 
}

.favorites-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    align-items: center;
    background-color: var(--ion-background-color);
    padding-top: 20px;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    width: 75%;
    padding: 10px;
    justify-content: center; 
    align-items: center;
}

.image-container{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.recipe-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-card{
    flex: 1 1 calc(33.333% - 15px);
    max-width: calc(33.333% - 15px);
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.add-fab {
    padding: 20px;
}

.add-icon {
    font-size: 35px;
}

ion-fab-button {
    height: 70px;
    width: 70px;
}

ion-card-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

ion-card-header{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.6);
    --padding-start: 8px; 
    --padding-end: 8px;
    --padding-top: 4px;
    --padding-bottom: 4px;}

@media (max-width: 1024px) {
    .recipes-list {
        width: 85%;
    }
    .recipe-card{
        flex: 1 1 calc(33% - 15px);
        max-width: calc(33% - 15px);
    }
    .image-container{
        height: 250px;
    }
    ion-card-title{
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .recipes-list {
        width: 90%;
    }
    .recipe-card{
        flex: 1 1 calc(33% - 15px);
        max-width: calc(33% - 15px);
    }
    .image-container{
        height: 200px;
    }
    ion-card-title{
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .recipe-card{
        flex: 1 1 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }
    .image-container{
        height: 150px;
    }
    ion-card-title{
        font-size: 12px;
    }
}