<form>
  <ion-item>
      <ion-input fill="outline" placeholder="Imagen de la receta" [(ngModel)]="recipeImage" name="recipeImage"></ion-input>
  </ion-item>
  <ion-item>
      <ion-input fill="outline" placeholder="Nombre de la receta" [(ngModel)]="recipeName" name="recipeName"></ion-input>
  </ion-item>
  <ion-item class="descripcion-container">
    <div class="descripcion-receta">
        <ion-textarea 
          fill="outline" 
          placeholder="Descripción de la receta" 
          [(ngModel)]="recipeDescription" 
          name="recipeDescription"
          maxlength="1000">
        </ion-textarea>
      <p class="contador-caracteres">{{ recipeDescription.length }}/1000
      </div>
  </ion-item>  
  <div class="ingredients-container">
    <h2>  Ingredientes </h2>
    <ion-item *ngFor="let ingredient of ingredients; let i = index" class="ingredient-container">
      <ion-input 
        fill="outline"
        [placeholder]="'Ingrediente ' + ingredient.id" 
        [(ngModel)]="ingredients[i].name" 
        [name]="'ingredient-' + ingredient.id">
      </ion-input>
      <ion-input 
        fill="outline"
        [placeholder]="'Cantidad'" 
        [(ngModel)]="ingredients[i].quantity" 
        [name]="'quantity-' + ingredient.id">
      </ion-input>
    </ion-item>
    <div class="ingredient-buttons">
      <ion-button (click)="addIngredient()">Agregar Ingrediente</ion-button>
      <ion-button (click)="removeIngredient()" color="danger">Eliminar Último Ingrediente</ion-button>
    </div>
  </div>
  <div class="step-container">
    <h2>  Pasos </h2>
    <div *ngFor="let step of steps; let i = index" class="step-item">
      <ion-item>
        <ion-input 
          fill="outline"
          [placeholder]="'Paso ' + step.id" 
          [(ngModel)]="steps[i].description" 
          [name]="'step-desc-' + step.id">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input 
          fill="outline"
          [placeholder]="'Imagen paso ' + step.id" 
          [(ngModel)]="steps[i].image" 
          [name]="'step-img-' + step.id">
        </ion-input>
      </ion-item>
    </div>
    <div class="step-buttons">
    <ion-button (click)="addStep()">Agregar Paso</ion-button>
    <ion-button (click)="removeStep()" color="danger">Eliminar Último Paso</ion-button>
    </div>
  </div>
  <ion-button (click)="submitRecipe()" type="submit" expand="block">Crear Receta</ion-button>
</form>