form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2{
    font-size: 24px;
    font-weight: bold;
    color: var(--ion-color-secondary); 
}

ion-item {
  --background: #1D1B20;
  --color: #FFFFFF;
  --border-color: #1d1b20;
}

ion-input, ion-textarea {
    --background: #1D1B20;
    --color: #FFFFFF;
    --highlight-color: var(--ion-color-primary);
}


ion-input:focus, ion-textarea:focus {
    color: var(--ion-color-primary);
    outline: none;
    box-shadow: 0 0 0 2px #F48946; /* Color personalizado (naranja, por ejemplo) */
    border-radius: 8px;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: var(--ion-color-primary);
}

.ion-valid.sc-ion-textarea-md-h {
    --highlight-color: var(--ion-color-primary);
}

.descripcion-receta {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.contador-caracteres {
    align-self: flex-end;
    font-size: 15px;
    color: var(--ion-color-medium);
}

.ingredients-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ingredient-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.step-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.step-buttons {
    display: flex;
    gap: 15px;
}

.step-item {
    display: flex;
    flex-direction: column;
    gap: 7px !important;
    
    ion-input {
        margin-right: 10px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.ingredient-container {
    display: flex;
    flex-direction: row;
    gap: 10px !important;
    
    ion-input {
        margin-right: 10px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}