<ion-content [fullscreen]="true">
  <div class="page-pane">
    <div class="title-container">
      <h1>Explorar</h1>
    </div>
    <div class="search-content">
      <div class="searchbar-container">
        <ion-searchbar (ionInput)="handleSearch($event)" class="searchbar" color=light placeholder="Buscar..."></ion-searchbar>
      </div>
      <div class="results-container">
        <app-recipe-list class="results-list" [recipes]="recipes"></app-recipe-list>
      </div>
    </div>
  </div>
</ion-content>
