.page-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

.title-container {
    display: flex;
    align-content: center;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-primary); 
}

.searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.searchbar {
    text-align: left;
    --border-radius: 20px;
    width: 600px;
    flex-grow: 0;
    flex-shrink: 0;
}
