h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-primary); 
}

.reports-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
}

.reported-list-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

.reported-recipes-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
