
.recipe-card {
    background-color: var(--ion-color-secondary);
    display: block;
    width: 800px;
    max-width: 800px;
    max-height: 160px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--container-border-radius);
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.recipe-card:hover {
    background-color: var(--ion-color-secondary-shade);
    transform: scale(1.02); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); 
    cursor: pointer;
    z-index: 10;
}

.recipe-grid {
    height: 100%;
    width: 100%;
}

.recipe-card-content {
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.recipe-img-col {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    min-width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-img {
    align-self: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: var(--img-border-radius);
    object-fit: cover;
    overflow: hidden;
}

.recipe-summary-col {
    height: 100%;
    color: var(--ion-color-secondary-contrast);
    flex-direction: column;
    justify-content: left;
    display: inline-block;
}

.recipe-name-container {
    padding: 2% 1em 2% 1em;
    flex-shrink: 0;
}

.recipe-name {
    color: var(--ion-color-secondary-contrast);
    font-weight: 600;
    padding-bottom: 0px;
}

.recipe-description {
    padding-top: 0px;
    padding-bottom: 0px;
    flex-grow: 1;
    color: var(--ion-color-secondary-contrast);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    line-height: 1.4em;
    max-height: 55%;
    min-height: 2.8em;
    text-overflow: ellipsis;
}

@media (max-width: 800px) {
    .recipe-card {
        width: 90%;
        height: 10%;
    }
    .recipe-grid {
        height: auto;
    }
    .recipe-name {
        font-size: 1.1em;
    }
    .recipe-description {
        font-size: 0.9em;
    }
    .recipe-card-content{
        height: auto;
    }
    
}

@media (max-width: 400px) {
    .recipe-card {
        width: 90%;
        height: 10%;
    }
    .recipe-grid {
        height: auto;
    }
    .recipe-name {
        font-size: 1.1em;
    }
        
    .recipe-summary-col{
        padding-right: 20px;
    }
    .recipe-description {
        font-size: 0.9em;
    }
    .recipe-card-content{
        height: auto;
    }
    
}

