<ion-card class="recipe-card"  [routerLink]="['/recipe-info', recipe.id]" routerDirection="forward">
  <ion-grid class="recipe-grid">
    <ion-row class="recipe-card-content">
      <ion-col class="recipe-img-col" size="2">
        <ion-img class="recipe-img" [src]="recipe.img_url" [alt]="recipe.name"></ion-img>
      </ion-col>
      <ion-col class="recipe-summary-col" size="10">
        <ion-card-header class="recipe-name-container">
          <ion-card-title class="recipe-name">{{ recipe.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="recipe-description">
          {{ recipe.description }}
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>