

.report-detail-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.imagen{
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
}

.button{
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}