<ion-content [fullscreen]="true">
  <div class="page-pane">
    <div class="recipe-pane">
      <div class="container">
        <div class="recipe-info-header">
          <h1 class="recipe-info-name">{{ recipe?.name }}</h1>
          <div class=".action-report-container">
            <ion-icon class="action-icon action-report" [name]="currentIcons[3]" (mouseover)="onMouseEnterReport()"
                      (mouseleave)="onMouseLeaveReport()"></ion-icon>
          </div>
        </div>
        <div class="recipe-img-container">
          <ion-img class="recipe-img" src="../../../assets/icon/food.png" alt="Imagen de receta"></ion-img>
        </div>
      </div>
      <div class="recipe-actions">
        <ion-grid>
          <ion-row>
            <ion-col class="recipe-origin" size="3">
              <p class="recipe-author">Realizada por <span class="highlight-text">{{ recipe?.author }}</span></p>
            </ion-col>
            <ion-col class="action-favorite" offset="6">
              <ion-icon class="action-icon" [name]="currentIcons[0]" (mouseover)="onMouseEnterFavorite()"
                        (mouseleave)="onMouseLeaveFavorite()" (click)="onClickFavorite()"></ion-icon>
            </ion-col>
            <ion-col class="action-fork" size="1">
              <ion-img class="action-icon" [src]="currentIcons[1]" (mouseover)="onMouseEnterFork()"
                       (mouseleave)="onMouseLeaveFork()"></ion-img>
            </ion-col>
            <ion-col class="action-like" size="1">
              <ion-img class="action-icon" [src]="currentIcons[2]" (mouseover)="onMouseEnterLike()"
                       (mouseleave)="onMouseLeaveLike()" (click)="onClickLike()"></ion-img>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <p>{{ recipe?.description }}</p>
      <div>
        <h2>Ingredientes</h2>
        <ion-list class="recipe-ingredient-list" [inset]="true">
          <ion-item class="recipe-ingredient" *ngFor="let ingredient of recipe?.ingredients">
            <p>{{ ingredient }}</p>
          </ion-item>
        </ion-list>
      </div>
      <div>
        <h2>Preparación</h2>
        <ion-list class="recipe-step-list" lines="inset">
          <ion-item class="recipe-step" *ngFor="let step of recipe?.steps; let i = index">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h3>Paso {{ i + 1}}</h3>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <p>{{ step }}</p>
                </ion-col>
              </ion-row>
              <ion-row class="step-div">
                <ion-col class="step-img-container">
                  <img class="step-img" src="#" alt="Imagen de paso de preparación">
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
