ion-list, ion-item {
    background-color: var(--ion-background-color);
}

h1{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--ion-color-secondary); 
}

.page-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--ion-background-color);
    padding-top: 20px;
}

.navbarplaceholder {
    width: 30%;
    font-size: x-large;
    font-weight: 600;
    background-color: var(--ion-navbar-background-color);
}

.recipe-pane {
    width: 70%;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-info-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    text-align: center;
}

.recipe-info-name {
    text-align: center;
    text-wrap: nowrap;
    grid-column: 2;
}

.recipe-info-header .action-report-container {
  grid-column: 3;
  justify-self: end;
  display: flex;
  align-items: center;
}

.action-report-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.recipe-img-container {
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: var(--img-border-radius);
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-img, .step-img {
    object-fit: contain;
}

.recipe-actions {
    border-top: 1px solid var(--ion-color-secondary);
    border-bottom: 1px solid var(--ion-color-secondary);
}

.recipe-origin {
    padding: 0;
    margin: 0;
    font-size: small;
    align-content: center;
}

.recipe-author {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: large;
}

.recipe-version {
    margin-top: 5px;
}

.highlight-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--ion-color-primary);
}

.action-favorite, .action-fork, .action-report {
    display: inline-block;
}

.action-icon {
    height: 30px;
    width: 30px;
    color: var(--ion-color-secondary);
}

.action-icon:hover {
    cursor: pointer;
}

.recipe-ingredient-list {
    display: inline-block;
    width: 100%;
    border-radius: var(--container-border-radius);
    background-color: var(--ion-background-color);
}

.ingredient-container {
    font-size: large;
}

.recipe-step-list {
    display: inline-block;
    flex-direction: column;
    width: 100%;
    border-radius: var(--container-border-radius);
    margin-bottom: 50px;
}

.recipe-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-description {
    font-size: 18px;
}

.step-img-container {
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: var(--img-border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}


