
.page-pane {
    display: flex;
    background-color: var(--ion-background-color);
}

.navbarplaceholder {
    width: 30%;
    font-size: x-large;
    font-weight: 600;
    background-color: var(--ion-navbar-background-color);
}

.recipe-pane {
    margin-left: 30px;
    margin-right: 30px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipe-info-header {
    width: 100%;
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
}

.recipe-info-name {
    text-align: center;
    text-wrap: nowrap;
    z-index: 10;
}

.recipe-info-header .recipe-info-name {
  text-align: center; 
  flex-grow: 1; 
  padding: 0 40px;
}

.recipe-info-header .action-report-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); 
  z-index: 10;
}

.action-report {
    margin-top: 20px;
}

.recipe-img-container {
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: var(--img-border-radius);
    margin-top: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-img, .step-img {
    object-fit: contain;
}

.recipe-actions {
    border-top: 1px solid var(--ion-color-secondary);
    border-bottom: 1px solid var(--ion-color-secondary);
}

.recipe-origin {
    padding: 0;
    margin: 0;
    font-size: small;
    align-content: center;
}

.recipe-author {
    margin-top: 0;
    margin-bottom: 5px;
}

.recipe-version {
    margin-top: 5px;
}

.highlight-text {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--ion-color-primary);
}

.action-favorite, .action-fork, .action-report {
    display: inline-block;
}

.action-icon {
    height: 30px;
    width: 30px;
    color: var(--ion-color-secondary);
}

.action-icon:hover {
    cursor: pointer;
}

.recipe-ingredient-list {
    display: inline-block;
    border-radius: var(--container-border-radius);
    --background: var(--ion-navbar-background-color);
}

.recipe-step-list {
    display: inline-block;
    flex-direction: column;
    border-radius: var(--container-border-radius);
    margin-bottom: 50px;
}

.recipe-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.step-img-container {
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: var(--img-border-radius);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

