<ion-content class="ion-padding">
  <ion-grid fixed="true">
    <ion-row class="ion-justify-content-center ion-align-items-center full-height">
      <ion-col size="12" size-lg="6" size-xl="4">
        <div class="register-card">
          <div class="logo-container">
            <ion-img src="../../../assets/icon/logo.png" alt="Logo de z-Recipes"></ion-img>
          </div>
          <div class="form-container">
            <ion-item lines="none" class="ion-margin-top">
              <ion-input type="text" autocoplete="email" fill="outline" label="Correo Electrónico"
                label-placement="stacked" class="ion-margin-top" placeholder="usuario@ejemplo.com"></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-margin-top">
              <ion-input type="text" autocapitalize="off" autocorrect="off" autocomplete="username" required="true"
                label-placement="stacked" class="ion-margin-top" fill="outline" placeholder="Ej: juangomez"
                label="Nombre de usuario"></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-margin-top">
              <ion-input type="text" autocapitalize="off" autocorrect="off" required="true" label-placement="stacked"
                class="ion-margin-top" fill="outline" placeholder="12345678-9" label="RUT"></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-margin-top">
              <ion-select class="ion-margin-top" required="true" aria-label="Región" interface="popover" fill="outline"
                label-placement="stacked" label="Región" placeholder="Seleccione">
                <ion-select-option value="aricaParinacota">Arica y Parinacota</ion-select-option>
                <ion-select-option value="tarapaca">Tarapacá</ion-select-option>
                <ion-select-option value="antofagasta">Antofagasta</ion-select-option>
                <ion-select-option value="atacama">Atacama</ion-select-option>
                <ion-select-option value="coquimbo">Coquimbo</ion-select-option>
                <ion-select-option value="valparaiso">Valparaíso</ion-select-option>
                <ion-select-option value="metropolitana">Metropolitana de Santiago</ion-select-option>
                <ion-select-option value="ohiggins">Libertador General Bernardo O'Higgins</ion-select-option>
                <ion-select-option value="maule">Maule</ion-select-option>
                <ion-select-option value="nuble">Ñuble</ion-select-option>
                <ion-select-option value="biobio">Biobío</ion-select-option>
                <ion-select-option value="araucania">La Araucanía</ion-select-option>
                <ion-select-option value="rios">Los Ríos</ion-select-option>
                <ion-select-option value="lagos">Los Lagos</ion-select-option>
                <ion-select-option value="aysen">Aysén del General Carlos Ibáñez del Campo</ion-select-option>
                <ion-select-option value="magallanes">Magallanes y de la Antártica Chilena</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item class="ion-margin-top" lines="none" class="ion-margin-top">
              <ion-input class="ion-margin-top" type="text" autocapitalize="words" autocorrect="on" autocomplete="off"
                required="true" label-placement="stacked" fill="outline" placeholder="Ej: Los Andes"
                label="Comuna"></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top" lines="none" class="ion-margin-top">
              <ion-input type="password" autocoplete="new-password" fill="outline" label="Contraseña"
                label-placement="stacked" class="ion-margin-top" placeholder="********"><ion-input-password-toggle
                  slot="end"></ion-input-password-toggle></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top" lines="none" class="ion-margin-top">
              <ion-input type="password" autocoplete="new-password" fill="outline" label="Confirmar Contraseña"
                label-placement="stacked" class="ion-margin-top" placeholder="********"><ion-input-password-toggle
                  slot="end"></ion-input-password-toggle></ion-input>
            </ion-item>
            <ion-item class="ion-margin-top" lines="none" class="ion-margin-top">
              <ion-checkbox labelPlacement="start">Acepto los <a>términos y
                  condiciones</a></ion-checkbox>
            </ion-item>
            <div class="btn-submit-container" lines="none">
              <ion-button class="btn-submit" routerLink="/home" type="submit">
                Entrar
              </ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>