.change-password-container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1{
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}