<div class="change-password-container">
  <h1>Cambiar Contraseña</h1>
  <form (ngSubmit)="onSubmit()" #changePasswordForm="ngForm" class="form">
    <ion-item>
      <ion-label position="floating">Contraseña Actual</ion-label>
      <ion-input type="password" name="currentPassword" [(ngModel)]="currentPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="password" name="newPassword" [(ngModel)]="newPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Nueva Contraseña</ion-label>
      <ion-input type="password" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" required></ion-input>
    </ion-item>
    <div class="button-group">
      <ion-button type="submit" expand="block" [disabled]="!changePasswordForm.form.valid">Cambiar Contraseña</ion-button>
      <ion-button type="button" expand="block" color="medium" (click)="closeModal()">Cancelar</ion-button>
    </div>
  </form>

</div>